.fullheight {
    min-height: 100vh !important;
}

.side-scroll-nav{
    margin: 0;
    position: fixed; 
    padding-right: 4px;
    right: 0%;
    top: 35%;
    background-color: white;
    border-radius: 17px 0px 0px 17px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.adaptive-img {
    background-size: cover; 
    background-position: center;
}

.flex-img {
    min-height: 10em;
}

.contacts > li {
    margin-top: 10px;
}

.row.d-flex {
    display: flex;
    flex-wrap: wrap;
}
  
.col.d-flex {
    display: flex;
    margin: 0 !important;

}

.card-panel.d-flex {
    flex: 1;
}

.card.d-flex {
    flex: 1;
}
.collection.d-flex {
    flex: 1;
}

.carousel-adaptive {
    height: 90%; 
    margin-top: -20vh;
}

.carousel-item .card-content{
    padding: 16px;
}

.carousel-item .card-reveal{
    padding: 16px;
}

.a {
    color: #1E88E5;
}

.input-field {
    margin-bottom: 0px;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(30, 136, 229, 0.65);
}

.table-of-contents a.active {
    border-left: 3px solid#1E88E5 !important;
}
.table-of-contents a:hover {
    border-left: 1px solid#1E88E5 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #1E88E5 !important;
    box-shadow: 0 1px 0 0 #1E88E5 !important;
}

.input-field input:focus + label {
    color: #1E88E5 !important;
}

.input-field .prefix.active {
    color: #1E88E5 !important;
  }

.collection a.collection-item{
    color: #1E88E5 !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #64b5f6 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1E88E5 !important;
}

input[type=checkbox]:checked+.lever:after {
    background-color: #1E88E5 !important;
}

.switch label .lever:before {
    background-color: rgba(30, 136, 229, 0.15) !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1E88E5 !important;
}

main {
    overflow-x: hidden; 
}