.fullheight {
    min-height: 100%;
}

.table-of-contents a.active {
    border-left: 2px solid#03a9f4 !important;
}
.table-of-contents a:hover {
    border-left: 1px solid#03a9f4 !important;
}

.no-margin {
    margin: 0;
}

.row.d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
.col.d-flex {
    display: flex;
}

.card-panel.d-flex {
    flex: 1;
}