.fullheight {
    min-height: 100%;
}

.side-scroll-nav{
    margin: 0;
    position: fixed; 
    right: 0%; 
    top: 35%; 
    padding-right: 20px;
    mix-blend-mode: normal;
}

.side-scroll-text1{
    color: white !important;
    filter: invert(0) grayscale(1) contrast(9);

}

#intro.active ~ a{
    color: white  !important;
}

.table-of-contents a.active {
    border-left: 2px solid#03a9f4 !important;
}
.table-of-contents a:hover {
    border-left: 1px solid#03a9f4 !important;
}

.no-margin {
    margin: 0;
}

.row.d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
.col.d-flex {
    display: flex;
}

.card-panel.d-flex {
    flex: 1;
}

.carousel-adaptive {
    height: 90%; 
    margin-top: -20vh;
}